<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <style>

        .images__item {
            position: relative;
            display: inline-block;
            margin: 30px;
        }

        .images__item img {
            width: 150px;
        }

        .images__delete {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 30px;
            height: 30px;
            font-size: 14px;
            text-decoration: none;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            background-color: #555;
            border-radius: 50%;
            color: #fff;
            transition: .5s all;
        }

        .images__delete:hover {
            color:crimson;
            background-color: #fff;
        }

    </style>


    <form class="form" action="">
        <input class="form__input" type="text" placeholder="Имя" name="firstname">
        <input class="form__input" type="text" placeholder="Фамилия" name="lastname">

        <select class="form__select" name="color" id="">
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value=yellow"">yellow</option>
        </select>

        <input type="radio" class="form__radio" name="size" value="s" />
        <input type="radio" class="form__radio" name="size" value="xl" />

        <input type="file" name="photos" id="photos" multiple>

        <button class="form__btn">Отправить</button>
    </form>


    <ul class="images">

    </ul>



    <script id="photo-template" type="text/html">


            <img src="{{image}}" alt="{{name}}" title="{{name}}" class="images__img">
            <a href="#" title="Удалить" class="images__delete">❌</a>


    </script>




    <script src="mustage.js"></script>

    <script src="script.js"></script>
</body>
</html>